<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
   <listener>
		<listener-class>
			com.inventory.util.InventoryServletContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>New Inventory</servlet-name>
		<servlet-class>com.inventory.web.Inventory</servlet-class>
	</servlet>         
	
	<servlet-mapping>
		<servlet-name>New Inventory</servlet-name>
		<url-pattern>/newInventory.sh</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:postgresql://127.0.0.1:5432/inventory</param-value> 
	</context-param>
	
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>postgres</param-value> 
	</context-param>
	
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>p4ssw0rd</param-value>
	</context-param> 
</web-app>